<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'favicon1.ico' %>

  <title>Roam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

		<!-- <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 40%;
        width: 40%;
      }
    </style>
<div id="map"></div>

<br><br>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS975JByAfN5bLK1Gvfs8C2J9U1L-02DU&callback=initMap"
    async defer></script> -->
  </div>
</body>
</html>
